*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0adf3;
    line-height: 1.6;
}


.main-container{
    display:flex;
    max-width: 1200px;
   grid-template-columns: 1fr lfr;
   gap: 20px;
   padding top: 40px; 
    margin: auto;
}


.sidebar{
    padding: 40px;
    flex: 1;
    height:90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius:16px;
}


.main-content{
    height:90vh;
    background-color:#2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius:16px;
    padding:40px;
}

.profile{
    text-align: center;
    
}


.profile img{
    width:120px;
    height:120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
}

/* contact info section */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    }

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone,.location{
    margin-bottom: 15px;
}

/* social media section */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
    width:30px;
    height:30px;
    margin-right: 15px;
    margin-left: 5px;
    filter: grayscale(0%) brightness(20%);
    transition: filter 0.3s ease;
}

.social img:hover{
    filter: grayscale(1%) brightness(150%);
    cursor: pointer;
}

/* main content styles */

#navigation{

    padding: 30px 20px;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #b4afa2;
    font-weight: 500;
}

.active {
    color: #ffd930;
}