*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0adf3;
    line-height: 1.6;
}


.main-container{
    display:flex;
    max-width: 1200px;
   grid-template-columns: 1fr lfr;
   gap: 30px;
   padding top: 40px; 
    margin: auto;
}


.sidebar{
    flex: 1;
    height:90vh;
    background-color: #2a2a2a;
}


.main-content{
    height:90vh;
    background-color:#2a2a2a;
}